<!DOCTYPE html>
<html>
<head>
<style>
th, td{
  border: 1px solid black;
}
table {
border-collapse: collapse;
font-family: "Lucida Console", Monaco, monospace;
font-size: 2em;
}
</style>
<title>Team Time Zones</title>
<script>
    window.setInterval('refresh()', 1000);

    function refresh() {
        window .location.reload();
    }
</script>
</head>
<body>
<table align="center">
  <tr>
    <th>Location</th>
    <th>Time</th>
  </tr>
  {% for location, time  in times %}
    <tr>
      <td>{{ location }}</td>
      <td>{{ time }}</td>
    </tr>
  {% endfor %}
  </tr>
</body>

